<div>
    <%= image_tag "1.png", :style => "width: 200px; margin: 0 auto;" %></br>
    <%= sock.name %></br>
    <%= sock.description %></br>
    <%= sock.description %></br>
    <%= sock.description %></br>
    <%= sock.description %></br>
</div>