<div class="menu", style="width: 50px; display: inline-flex; padding: 10px; flex-direction: column; height:calc(100vh - 20px); justify-content: space-between; background-color: rgb(33,36,38)">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", :style => "width: 50px" %>
  <% end %>
  <div>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "user.png", :style => "width: 50px" %>
    <% end %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "bascket.png", :style => "width: 50px" %>
    <% end %>
  </div>
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", :style => "width: 50px" %>
  <% end %>
</div>