<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" style="display: flex; height: 100vh">
      <%= render "layouts/menu" %>

      <%if notice%>
        <p id="notice" style="padding: 25px; background-color: green; color: white;">
          <%= notice %>
        </p>
      <%end%>
      <div 
        style="display: inline-block; 
        width: 100%; 
        padding: 20px;
        margin-left: 50px">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
