<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" style="display: flex">
      <%= render "layouts/menu" %>

      <%if notice%>
        <p id="notice" style="padding: 25px; background-color: green; color: white;">
          <%= notice %>
        </p>
      <%end%>
      <div style="display: inline-block; width:calc(100vw - 70px); padding: 20px; background-color: rgb(240,241,242)">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
